@import "lib/fonts";
@import "base/reset";
@import "base/vars";
@import "block/btns";
@import "block/titles";

* {
  box-sizing: border-box;
  &::before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.container {
  width: 1090px;
  padding: 0 10px;
  margin: 0 auto;
}

.container__mini {
  width: 350px;
  margin: 0 auto;
}

.container__midi {
  width: 730px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.marker {
  right: -20px;
  border: 2px solid green !important;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sweep-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.accord {
  animation: sweep 0.5s ease-in-out;
}

.accord-out {
  animation: sweep-out 0.5s ease-in-out;
}

@import "block/header";
@import "block/promo";
@import "block/about";
@import "block/top";
@import "block/payments";
@import "block/vertical";
@import "block/trust";
@import "block/feedback";
@import "block/activity";
@import "block/auth";
@import "block/checkin";
@import "block/footer";

.checked {
  background: #0b76ef;
  background-image: url("../img/check.svg");
  transition: all 0.2s ease-in-out;
}

@import "block/media";
