.activity {
    padding-top: 80px;
    &__block {
        padding: 60px;
        margin-top: 82px;
        background: #FFFFFF;
        box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
    }
    &__block-title {
        text-align: center;
        text-transform: uppercase;
        font-size: 60px;
        line-height: 75px;
        font-weight: 900;
        color: #2E9ADB;
    }
    &__block-subtitle {
        text-align: center;
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
        color: #939393;
        width: 724px;
        margin: 0 auto;
        margin-top: 20px;
    }
    &__block-img {
        width: 64px;
        height: 64px;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px auto 0 auto;
        position: relative;
        cursor: pointer;
        &::before {
            content: "";
            position: absolute;
            right: 80px;
            top: 50%;
            width: 421px;
            height: 1px;
            background-color: #D2D2D2;
        }
        &::after {
            content: "";
            position: absolute;
            left: 80px;
            top: 50%;
            width: 421px;
            height: 1px;
            background-color: #D2D2D2;
        }
    }
    &__block-img {
        position: relative;
    }
    &__img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    &__content-title {
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        margin-top: 60px;
    }
    &__content-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 1000px;
        margin-right: 30px;
        margin-top: 60px;
        padding-bottom: 60px;
        // border-bottom: 1px dashed #D2D2D2;
    }
    &__content-card {
        width: 170px;
        height: 170px;
        // margin: 15px;
        background: #FFFFFF;
        box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        margin-right: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:last-child{
            img {
                margin-left: 25px;
            }
        }
    }
    &__card-descr{
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: #939393;
        margin-top: 21px;
    }
    &__dashed-border {
        width: 990px;
        margin: 0 auto;
        margin-right: 60px;
    }
    &__case {
        margin-top: 60px;
        width: 990px;
    }
    &__case-img {
        margin: 0 auto;
    }
    &__case-block {
        background: #FFFFFF;
        box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        margin-top: 60px;
        padding: 70px 0;
        display: grid;
        grid-template-columns: 330px 328px 330px;
        justify-items: center;
        justify-items: center;
    }
    &__case-traffic{
        position: relative;
        &::after {
            content: "";
            position: absolute;
            right: -120px;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 202px;
            background-color: #ebebeb;
        }
        &--title {
            font-size: 16px;
            line-height: 19px;
            color: #939393;
            font-weight: 500;
        }
        &--subtitle {
            margin-top: 20px;
            font-size: 20px;   
            line-height: 24px;
            font-weight: 600;
            text-align: center;
        }
    }
    &__case-costs{
        position: relative;
        &::after {
            content: "";
            position: absolute;
            right: -135px;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 202px;
            background-color: #ebebeb;
        }
        &--title {
            font-size: 16px;
            line-height: 19px;
            color: #939393;
            font-weight: 500;
        }
        &--subtitle {
            margin-top: 20px;
            font-size: 20px;   
            line-height: 24px;
            font-weight: 600;
            text-align: center;
        }
    }
    &__case-indicators--title{
        text-align: center;
        font-size: 16px;
        line-height: 19px;
        color: #939393;
        font-weight: 500;
        margin-top: -10px;
    }
    &__case-indicators--subtitle{
        width: 270px;
        margin-top: 20px;
        font-size: 20px;   
        line-height: 24px;
        font-weight: 600;
        text-align: center;
        color: #2E9ADB;
        
    }

}