.btn {
    width: 354px;
    display: block;
    padding: 28px 0;
    background-color: #2E9ADB;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 900;
    text-align: center;
    border-radius: 40px;
}