@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .header {
    &__wrapper {
      grid-template-columns: 312px 414px;
    }
  }
  .vertical {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
  }
  .feedback {
    background-size: auto;
    background-position: center;
  }
  .activity {
    &__content-cards {
      width: auto;
      margin-right: 0;
    }
    &__content-card {
      margin-right: 15px;
      margin-left: 15px;
    }
    &__case-traffic::after {
      right: -85px;
    }
    &__case-costs::after {
      right: -95px;
    }
    &__case-traffic--stoloto::after {
      right: -11px;
    }
    &__case-costs--stoloto::after {
      right: -55px;
    }
    &__case-traffic--vpn-pro::after {
      right: -58px;
    }
    &__case-costs--vpn-pro::after {
      right: -85px;
    }
    &__case-traffic--ultima::after {
      right: -2px;
    }
    &__content-products {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }
  .header {
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
    &__menu {
      grid-template-columns: repeat(2, 1fr);
    }
    &__menu-nav {
      position: absolute;
      left: 0;
      padding-left: 248px;
      padding-bottom: 20px;
      padding-top: 20px;
      top: 79px;
      background: #fff;
      width: 100%;
    }
    &__menu-ad--active::before,
    &__menu-web--active::before {
      display: none;
    }
    &__menu-login {
      margin: 0 89px;
      width: 100%;
    }
    &__menu-login::after {
      display: none;
    }
    &__menu-nav::after {
      display: none;
    }
  }
  .promo {
    &__showing-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      gap: 40px;
      margin-top: 96px;
    }
    &__showing-item:nth-child(2),
    &__showing-item:last-child {
      &::after {
        display: none;
      }
    }
    &__showing-item:nth-child(3) {
      &::after {
        transform: rotate(90deg);
        top: -306px;
        height: 585px;
      }
    }
    &__showing-item:first-child {
      &::after {
        height: 223px;
        top: -27px;
      }
    }
    &__showing-item:not(:last-child) {
      &::after {
        right: -108px;
      }
    }
    &__goto {
      justify-content: center;
      flex-wrap: wrap;
    }
    &__advertiser {
      margin-top: 40px;
    }
  }
  .activity {
    &__block-img {
      &::before,
      &::after {
        width: 263px;
      }
    }
    &__case-block {
      grid-template-columns: 1fr;
    }
    &__block-subtitle {
      width: auto;
    }
    &__case-traffic {
      margin-bottom: 65px;
      &::after {
        transform: rotate(90deg);
        height: 580px;
        top: -190px;
        left: 46px;
      }
    }
    &__case-costs {
      margin-bottom: 65px;
      &::after {
        height: 580px;
        top: -194px;
        left: 38px;
        transform: rotate(90deg);
      }
    }
    &__case-traffic--stoloto {
      &::after {
        left: 112px;
      }
    }
    &__case-costs--stoloto {
      &::after {
        left: 74px;
      }
    }
    &__case-traffic--vpn-pro {
      &::after {
        left: 71px;
      }
    }
    &__case-costs--vpn-pro {
      &::after {
        left: 46px;
      }
    }
    &__case-traffic--ultima {
      &::after {
        left: 134px;
      }
    }
    &__content-item {
      &::before {
        bottom: 41px;
      }
    }
    &__content-platform {
      flex-wrap: wrap;
      justify-content: center;
      padding: 60px 30px;
    }
    &__content-platform--stack {
      margin-left: 0;
      margin-top: 73px;
    }
    &__content-logo {
      &::after {
        transform: rotate(90deg);
        height: 275px;
        right: 31px;
        bottom: -169px;
      }
    }
    &__content-products {
      grid-template-columns: repeat(3, 1fr);
    }
    &__content-subtitle--after {
      a {
        display: block;
        margin-top: 15px;
      }
    }
  }
  .payments {
    &__icons {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      justify-content: center;
      width: auto;
    }
    &__icon:nth-child(1) {
      order: 1;
    }
    &__icon:nth-child(2) {
      order: 2;
    }
    &__icon:nth-child(3) {
      order: 4;
    }
    &__icon:nth-child(4) {
      order: 5;
    }
    &__icon:nth-child(5) {
      order: 3;
    }
    &__icon:nth-child(6) {
      order: 6;
    }
    &__icon {
      margin-top: 20px;
      margin-right: 0 !important;
    }
  }
  .vertical {
    &__card {
      width: auto;
    }
  }
  .feedback {
    &__input {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px;
  }
  .header {
    &__menu-nav {
      padding-left: 167px;
      width: 101%;
    }
  }
  .promo {
    &__showing-item:not(:last-child) {
      &::after {
        right: -51px;
      }
    }
    &__showing-item {
      &:first-child {
        &::after {
          height: 245px;
        }
      }
      &:nth-child(3)::after {
        top: -278px;
        height: 525px;
      }
    }
  }
  .top {
    &__subtitle {
      width: auto;
    }
    &__wrapper {
      flex-wrap: wrap;
    }
    &__card {
      margin-bottom: 20px;
    }
  }
  .activity {
    &__block-img::after,
    &__block-img::before {
      width: 193px;
    }
    &__content-products {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .container__midi {
    width: 540px;
  }
  .checkin {
    &__input {
      width: 100%;
    }
    &__checkboxes {
      justify-content: center;
    }
  }
}

@media (max-width: 576px) {
  .container {
    width: 288px;
  }
  .container__midi {
    width: 288px;
  }
  .container__mini {
    width: 288px;
  }
  .btn {
    width: 100%;
    padding: 18px 0;
  }
  .header {
    &__menu-nav {
      padding-left: 33px;
      width: 100%;
    }
    &__logo-link {
      width: 78px;
      height: 36px;
    }
    &__menu-login {
      margin: 0;
    }
    &__menu-link--login::after {
      display: none;
      margin-right: 0;
    }
    &__menu-link--checkin {
      display: none;
    }
  }
  .promo {
    &__title {
      padding-top: 92px;
      font-size: 32px;
      line-height: 40px;
      width: auto;
    }
    &__subtitle {
      font-size: 16px;
      line-height: 19px;
      width: auto;
    }
    &__showing-list {
      margin-top: 40px;
    }
    &__showing-number {
      font-size: 30px;
      line-height: 37px;
    }
    &__showing-text {
      font-size: 13px;
      line-height: 15px;
    }
    &__showing-item:not(:last-child)::after {
      right: -22px;
    }
    &__showing-item:first-child::after {
      top: 0;
      height: 215px;
    }
    &__showing-item:nth-child(3)::after {
      top: -164px;
      height: 285px;
    }
    &__showing-item {
      text-align: center;
    }
    &__advertiser-text,
    &__webmaster-text {
      width: auto;
    }
    &__advertiser-btn,
    &__webmaster-btn {
      width: 256px;
      font-size: 16px;
      padding: 18px 0;
      padding-left: 40px;
    }
    .arrow-bottom,
    .arrow-right {
      padding-left: 36px;
    }
  }
  .about {
    padding-bottom: 0;
    &__card {
      width: 128px;
      margin: 2px;
    }
    &__card-text {
      font-size: 13px;
      line-height: 15px;
    }
    &__cards {
      margin-bottom: 32px;
    }
  }
  .top {
    padding-top: 50px;
    padding-bottom: 180px;
    &__wrapper {
      flex-wrap: nowrap;
      flex-direction: column;
    }
    &__card {
      width: 100%;
    }
  }
  .vertical {
    &__cards {
      grid-template-columns: 1fr;
    }
  }
  .feedback {
    &__input {
      padding: 20px;
    }
  }
  .footer {
    &__wrapper {
      flex-wrap: wrap;
    }
  }
}
